<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const ROOM_ID="<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="chat_section">
        <div class="logo">
            <img height="50" src="https://image.flaticon.com/icons/png/512/408/408736.png" alt="not available">
            <h1>ChatApp</h1>
        </div>
        <div class="message_area">

            <!--
            <div class="incoming message">
                <h4>name1</h4>
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>

            <div class="outgoing message">
                <h4>name2</h4>
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
            -->
        </div>
        <div>
            <textarea id="textarea" cols="30" rows="10" placeholder="Type here.."></textarea>
        </div>
        <h2 id="liveVideo"><br>Live Video</h2>
        <div id="video-grid"></div>
    </section>
    
</body>
</html>